{% extends "_base.html" %}

{% block view_content %}
    <div class="Collection__">

        {% set cover_url=collection.cover(1280) %}
        <header class="_Header__">
            <div class="CollectionCover {% if cover_url %}-has_cover{% else %}-no_cover{% endif %}">
                <div class="_Media"{% if cover_url %} style="background-image: url('{{ cover_url }}');"{% endif %}>
                    <div class="_Info">
                        <h1 class="_Title">{{ collection.title }}</h1>
                        <div class="_Meta">
                            Collection
                        </div>
                        {%- if collection.description -%}
                            <div class="_Summary">{{ collection.description }}</div>
                        {%- endif -%}
                    </div>
                </div>
            </div>
        </header>

        <div class="_Results__">
            {%- for story in collection.stories() -%}
                {%- with include_summary=True -%}
                    {%- include "Cards/StoryCard.html" -%}
                {%- endwith -%}
            {%- endfor -%}
        </div>
    </div>
{% endblock %}
