-e git+https://github.com/ansible/ansible.git#egg=ansible
-e git+https://github.com/mitsuhiko/click.git#egg=click
-e git+https://github.com/kennethreitz/requests.git#egg=requests
-e git+https://github.com/mitsuhiko/jinja2.git#egg=jinja2
