<div class="CollectionCover" style="background-image: url({{ collection.cover(1280) }})">
    {% if collection.week_start_date %}
    <time class="_Date" datetime="{{ collection.week_start_date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
        Week of {{ collection.week_start_date.strftime('%b %-d, %Y') }}
    </time>
    {% endif %}
    <h1 class="_Title">{{ collection.title }}</h1>
    <div class="_Summary">
        {% if collection.description %}
            {{ collection.description }}
        {% endif %}
    </div>
</div>