{%- raw -%}
<a class="StoryCard {% if not story.first_published_date %}-preview{% endif %}" href="{{ story.link }}">
    <div class="_Media" style="background-image: url({{ story.cover(640) }})">
        <time class="_Date" datetime="{{ story.published_date.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ story.published_date.strftime('%a') }}</time>
    </div>
    <div class="_Info">
        <h2 class="_Title">{{ story.title }}</h2>
        <div class="_Byline">by {{ story.byline }}</div>
        <div class="_Summary">
            {{ story.description }}
        </div>
    </div>
</a>
{%- endraw -%}
