---
- name: install nginx
  apt: pkg=nginx state=latest
  notify:
    - disable default nginx configuration
    - remove default nginx configuration
    - start nginx

- name: copy nginx.conf
  template: src=nginx.conf.j2 dest=/etc/nginx/nginx.conf
  notify:
    - restart nginx
