[program:{% raw %}{{ project_name }}{% endraw %}]
command=/srv/virtualenvs/{% raw %}{{ project_name }}{% endraw %}/bin/gunicorn -w 5 wsgi:application
directory=/srv/{% raw %}{{ project_name }}{% endraw %}
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/{% raw %}{{ project_name }}{% endraw %}.gunicorn.log
redirect_stderr=True
