[program:runtime]
command=/srv/virtualenvs/runtime/bin/gunicorn -w 5 wsgi:application
directory=/srv/runtime
autostart=true
autorestart=true
stdout_logfile=/var/log/supervisor/runtime.gunicorn.log
redirect_stderr=True
